.site-headder {
    background:#2c3e50;
    color:#eee;
    margin-bottom:20px;
    padding-bottom:20px;
}
.site-headder .page-header {
    border:none;
    padding:0;
    margin-top:20px;
    margin-bottom:10px;
}
.site-headder .page-header small {
    color:#ddd;
    font-size:16pt;

}
.site-headder a {
    color:#fff;
    text-decoration:none;
}
.post > h1 {
    font-size:16pt;
    padding:0;
    margin:0;
    margin-bottom: 5px;
    height:41px;
    line-height:41px;
}
.sidebar .tags .list-group a {
    position:relative;
    background:transparent;
    border-radius:0;
}
.sidebar .tags .list-group a .name {
    z-index:2;
    position:relative;
}
.sidebar .tags .list-group a .badge{
    z-index:5;
    position:relative;
}
.sidebar .tags .progress-bar {
    background:#ddd;
    border:none;
    box-shadow:none;

}
.sidebar .tags .progress {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    padding:6px;
    margin:0;
    background:transparent;
}
.post{
    margin-bottom:20px;
    

}
.post footer {
    background:#eee;
    padding:10px;
    overflow:hidden;
    font-size:10pt;
    color:#aaa;
}
.post .tags {
    margin:0;
    margin-top: -1px;
}
.post .tags li {
    float: left;
    margin-right:5px;
}
.fotr{
    text-align:center;
   background:#2c3e50;
    color:#eee;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
}
.login-wraper 
{
    display:block;
    width :400px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #0865a3;
    padding:25px;
    border-radius:20px;
    
}
.login-wraper form div input{
    float:right;
    width:250px;
    border:1px solid #0865a3;
    background:#e3edf5;
    border-radius: 5px;
    padding-left:5px;
}